{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Lucas Mart">

    <title>LabCor Painel - Buscar no Google</title>
    <meta name="robots" content="noindex">

    {% include 'home/includes/css.html' %}

  </head>

  <body onload="startTime()"> 
    <!-- loader starts-->
    <div class="loader-wrapper">
      <div class="loader-index"> <span></span></div>
      <svg>
        <defs></defs>
        <filter id="goo">
          <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
          <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
        </filter>
      </svg>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

      {% include 'home/includes/menu_nav.html' %}

      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        
        {% include 'home/includes/header.html' %}

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          
          <div class="container-fluid" >        
            <div class="page-title" style="background: #2a4070; color: #fff;">
              <div class="row">
                <div class="col-6">
                  <h3>Pesquisas em fontes abertas</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/google">                                       
                        <svg class="stroke-icon">
                          <use href="{% static 'assets/svg/icon-sprite.svg#stroke-home' %}"></use>
                        </svg></a></li>
                    <li class="breadcrumb-item">Painel</li>
                    
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row widget-grid">

              <div class="container-fluid search-page">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <form class="theme-form" method="POST" action="{% url 'api-search' %}">
                          {% csrf_token %}
                          <div class="input-group m-0 flex-nowrap">
                            <input class="form-control-plaintext" type="text" name="search" value="{{ search }}" placeholder="Buscar .."><button type="submit" class="btn btn-primary input-group-text">Buscar</button>
                          </div>
                        
                      </div>
                      <div class="card-body">

                        
                        <!--

                          <form id="global-search-form" method="POST" action="{% url 'google' %}">

                            {% csrf_token %}
       

        <input type="text" value="{{ search }}" name="search">

        <label><input onchange="this.form.submit();" type="radio" name="option_search" value="">Google</label>
         <label><input onchange="this.form.submit();" type="radio" name="option_search" value="Facebook">Facebook</label>
         <label><input onchange="this.form.submit();" type="radio" name="option_search" value="Twitter">Twitter</label>
         <label><input onchange="this.form.submit();" type="radio" name="option_search" value="Instagram">Instagram</label>
         <label><input onchange="this.form.submit();" type="radio" name="option_search" value="Youtube">Youtube</label>
         <label><input onchange="this.form.submit();" type="radio" name="option_search" value="Linkedin">Linkedin</label>

         <button>Enviar</button>

    </form>

  -->



                        {% include 'home/includes/social-menu.html' %}

                        </form>
                        
                        <div class="tab-content" id="top-tabContent">
                          <div class="search-links tab-pane fade show active" id="all-links" role="tabpanel" aria-labelledby="all-link">
                            <div class="row">
                              <div class="col-xxl-12 col-xl-6 box-col-12">

                                {% if search %}
                                <h6 class="mb-2">Resultados para "{{search}}"</h6>
                                {% endif %}
                                
                                <!-- Loop Start -->
                                {% for result in search_results %}
                                <div class="info-block">

                                  {% if 'facebook.com' in result.link %}
                                  <i style="font-size: 18px; color: #4267B2;" class="fa-brands fa-facebook"></i>
                                  {% elif 'instagram.com' in result.link %}
                                  <i style="font-size: 18px; color: #E1306C;" class="fa-brands fa-instagram"></i>
                                  {% elif 'youtube.com' in result.link %}
                                  <i style="font-size: 18px; color: #FF0000;" class="fa-brands fa-youtube"></i>
                                  {% elif 'facebook.com' in result.link %}
                                  <i style="font-size: 18px; color: #4267B2;" class="fa-brands fa-facebook"></i>
                                  {% elif 'linkedin.com' in result.link %}
                                  <i style="font-size: 18px; color: #0a66c2;" class="fa-brands fa-linkedin"></i>
                                  {% elif 'twitter.com' in result.link %}
                                  <i style="font-size: 18px; color: #1DA1F2;" class="fa-brands fa-twitter"></i>
                                  {% else %}
                                  <i style="font-size: 18px; color: #0F9D58;" class="fa-brands fa-google"></i>
                                  {% endif %}
                                  
                                  <a href="{{ result.link }}" target="_blank">{{ result.displayed_link }}</a>
                                  <h6><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h6>
                                  <p>{{ result.snippet }}</p>
                                  <div class="star-ratings">
                                    <ul class="search-info">
                                      <li>LabCor search</li>
                                      <li>type</li>
                                      <li>Google</li>
                                    </ul>
                                  </div>
                                </div>
                                {% endfor %}

                              </div>

                            

                              <!--
                              <div class="col-12 m-t-30">
                                <nav aria-label="...">
                                  <ul class="pagination pagination-primary justify-content-end">
                                    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">2<span class="sr-only">(current)</span></a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                                  </ul>
                                </nav>
                              </div>
                              -->

             



                              {% if search %}
                              <!-- Pagination -->
                              <div class="col-12 m-t-30">
                                <form method="POST" action="{% url 'api-search' %}">
                                  {% csrf_token %}
                                  <input type="hidden" value="{{search}}" name="search">
                                  <input type="hidden" value="{{option_search}}" name="option_search">

                                  <nav aria-label="Page navigation example">
                                    <ul class="pagination">


                                      <li class="page-item">
                                        <input type="number" name="page" value="0" class="page-link" id="page-1" style="display: none;">
                                        <label for="page-1" style="cursor: pointer;" class="page-link">1</label>
                                      </li>

                            
                                      <li class="page-item">
                                        <input type="radio" name="page" value="11" class="page-link" id="page-2" style="display: none;">
                                        <label for="page-2" style="cursor: pointer;" class="page-link">2</label>
                                      </li>

                                      
                                      <li class="page-item">
                                        <input type="radio" name="page" value="22" class="page-link" id="page-3" style="display: none;">
                                        <label for="page-3" style="cursor: pointer;" class="page-link">3</label>
                                      </li>

                                      <!--
                                      <li class="page-item">
                                        <input type="radio" name="page" value="4" class="page-link" id="page-4" style="display: none;">
                                        <label for="page-4" style="cursor: pointer;" class="page-link">4</label>
                                      </li>

                                      <li class="page-item">
                                        <input type="radio" name="page" value="5" class="page-link" id="page-5" style="display: none;">
                                        <label for="page-5" style="cursor: pointer;" class="page-link">5</label>
                                      </li>
                                      -->
                      
                                    

                                    </ul>
                                  </nav>
                                </form>
                              </div>
                              {% endif %}

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>

          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->

        {% include 'home/includes/footer.html' %}
        
      </div>
    </div>
    <!-- latest jquery-->

    {% include 'home/includes/js.html' %}


    <script type="text/javascript">


    const radios = document.getElementsByName('option_search');
    const links = document.querySelectorAll('a[id]');

    // Adiciona um listener de evento para cada input radio
    radios.forEach(radio => {
      radio.addEventListener('change', () => {
        const linkId = radio.id.replace('id', '').toLowerCase();
        const link = document.getElementById(linkId);

        // Armazena o ID do elemento a correspondente no armazenamento local
        localStorage.setItem('selectedLinkId', linkId);
        
        links.forEach(link => {
          link.classList.remove('active');
        });
        
        link.classList.add('active');
      });
    });

    // Verifica o armazenamento local e adiciona a classe active ao elemento a correspondente, se necessário
    const selectedLinkId = localStorage.getItem('selectedLinkId');
    if (selectedLinkId) {
      const selectedLink = document.getElementById(selectedLinkId);
      selectedLink.classList.add('active');
    }


      

    </script>






    <script>
      
      const pageRadios = document.getElementsByName('page');
      const pageLinks = document.querySelectorAll('input[type="radio"][name="page"]');

      // Adiciona um listener de evento para cada input radio
      pageRadios.forEach(pageRadio => {
        pageRadio.addEventListener('change', () => {
          // Dispara o submit do formulário quando um radio é selecionado
          pageRadio.closest('form').submit();

          const linkId = pageRadio.id.replace('page-', '').toLowerCase();
          const link = document.getElementById(`page-link-${linkId}`);

          // Armazena o ID do elemento a correspondente no armazenamento local
          localStorage.setItem('selectedPageLinkId', linkId);

          pageLinks.forEach(pageLink => {
            pageLink.parentNode.classList.remove('active');
          });

          link.parentNode.classList.add('active');
        });
      });

      // Verifica o armazenamento local e adiciona a classe active ao elemento a correspondente, se necessário
      const selectedPageLinkId = localStorage.getItem('selectedPageLinkId');
      if (selectedPageLinkId) {
        const selectedPageLink = document.getElementById(`page-link-${selectedPageLinkId}`);
        selectedPageLink.parentNode.classList.add('active');
      }

    </script>


  </body>
</html>