{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Lucas Mart">

    <title>LabCor Painel - Buscar no Google</title>
    <meta name="robots" content="noindex">

    {% include 'home/includes/css.html' %}

  </head>

  <body onload="startTime()"> 
    <!-- loader starts-->
    <div class="loader-wrapper">
      <div class="loader-index"> <span></span></div>
      <svg>
        <defs></defs>
        <filter id="goo">
          <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
          <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
        </filter>
      </svg>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

      {% include 'home/includes/menu_nav.html' %}

      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        
        {% include 'home/includes/header.html' %}

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          
          <div class="container-fluid" >        
            <div class="page-title" style="background: #2a4070; color: #fff;">
              <div class="row">
                <div class="col-6">
                  <h3>Pesquisas em fontes abertas</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/google">                                       
                        <svg class="stroke-icon">
                          <use href="{% static 'assets/svg/icon-sprite.svg#stroke-home' %}"></use>
                        </svg></a></li>
                    <li class="breadcrumb-item">Painel</li>
                    
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row widget-grid">

              <div class="container-fluid search-page">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <form class="theme-form" method="POST" action="{% url 'api-search' %}">
                          {% csrf_token %}
                          <div class="input-group m-0 flex-nowrap">
                            <input class="form-control-plaintext" type="text" name="search" value="{{ search }}" placeholder="Buscar .."><button type="submit" class="btn btn-primary input-group-text">Buscar</button>
                          </div>
                        
                      </div>
                      <div class="card-body">

                        
    
  



                        {% include 'home/includes/social-menu.html' %}

                        </form>
                        
                        <div class="tab-content" id="top-tabContent">
                          <div class="search-links tab-pane fade show active" id="all-links" role="tabpanel" aria-labelledby="all-link">
                            <div class="row">
                              <div class="col-xxl-12 col-xl-6 box-col-12">

                                {% if search %}
                                <h6 class="mb-2">Resultados para "{{search}}"</h6>
                                {% endif %}
                                
                                <!-- Loop Start -->
                                {% for result in search_results %}
                                <div class="info-block">

                                  {% if 'facebook.com' in result.link %}
                                  <i style="font-size: 18px; color: #4267B2;" class="fa-brands fa-facebook"></i>
                                  {% elif 'instagram.com' in result.link %}
                                  <i style="font-size: 18px; color: #E1306C;" class="fa-brands fa-instagram"></i>
                                  {% elif 'youtube.com' in result.link %}
                                  <i style="font-size: 18px; color: #FF0000;" class="fa-brands fa-youtube"></i>
                                  {% elif 'facebook.com' in result.link %}
                                  <i style="font-size: 18px; color: #4267B2;" class="fa-brands fa-facebook"></i>
                                  {% elif 'linkedin.com' in result.link %}
                                  <i style="font-size: 18px; color: #0a66c2;" class="fa-brands fa-linkedin"></i>
                                  {% elif 'twitter.com' in result.link %}
                                  <i style="font-size: 18px; color: #1DA1F2;" class="fa-brands fa-twitter"></i>
                                  {% else %}
                                  <i style="font-size: 18px; color: #0F9D58;" class="fa-brands fa-google"></i>
                                  {% endif %}
                                  
                                  <a href="{{ result.link }}" target="_blank">{{ result.displayed_link }}</a>
                                  <h6><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h6>
                                  <p>{{ result.snippet }}</p>
                                  <div class="star-ratings">
                                    <ul class="search-info">
                                      <li>LabCor search</li>
                                      <li>type</li>
                                      <li>Google</li>
                                    </ul>
                                  </div>
                                </div>
                                {% endfor %}

                              </div>

                              <style>
                                .form-paginator{
                                  display: flex;

                                }

                                .radio-hidden{
                                  display: none;
                                }

                                .label-paginator{
                                  cursor: pointer;
                                  background: #2a3e7108;
                                  padding: 10px;
                                  margin-left: 5px;
                                  font-size: 18px;
                                  font-weight: 300;
                                }
                              </style>
                            

                              


                            {% if search and paginas %}
                            <div class="col-12 m-t-30">
                              <form class="form-paginator" method="POST" action="{% url 'api-search' %}">
                              {% csrf_token %}

                                  <input type="hidden" value="{{ search }}" name="search">
                                  <input type="hidden" value="{{ option_search }}" name="option_search">
                              
                                  {% for pagina in paginas %}
                                  <input class="radio-hidden" type="radio" name="page" value="{{ pagina }}" id="radio{{ forloop.counter }}" onclick="handleRadioClick(this); this.form.submit();" {% if forloop.first  %} checked {% endif %}>
                                  <label class="label-paginator" for="radio{{ forloop.counter }}" id="label{{ forloop.counter }}">{{ forloop.counter }}</label><br>
                                  {% endfor %}
                              </form>
                            </div>
                            {% endif %}

             




                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>

          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->

        {% include 'home/includes/footer.html' %}
        
      </div>
    </div>
    <!-- latest jquery-->

    {% include 'home/includes/js.html' %}




    <!-- Social icons select -->
    <script>
      (function() {
        var radios = document.querySelectorAll('.social-block input[type="radio"]');
        var labels = document.querySelectorAll('.social-block label');
      
        function handleRadioClick(radio) {
          labels.forEach(function(label) {
            if (label.getAttribute('for') === radio.id) {
              label.style.color = 'tomato';
            } else {
              label.style.color = '';
            }
          });
      
          localStorage.setItem('selectedRadio', radio.value);
        }
      
        window.addEventListener('load', function() {
          var selectedRadio = localStorage.getItem('selectedRadio');
      
          if (selectedRadio) {
            var radioElement = document.querySelector('.social-block input[type="radio"][value="' + selectedRadio + '"]');
            if (radioElement) {
              radioElement.checked = true;
              handleRadioClick(radioElement);
            }
          }
        });
      
        radios.forEach(function(radio) {
          radio.addEventListener('click', function() {
            handleRadioClick(this);
            this.form.submit();
          });
        });
      })();
      </script>


      <!-- Script Pagination -->
      <script>
        
        function handleRadioClick(radio) {
          var labels = document.querySelectorAll('label');
          
          labels.forEach(function(label) {
            if (label.getAttribute('for') === radio.id) {
              label.style.color = 'orange';
            } else {
              label.style.color = '';
            }
          });

          localStorage.setItem('selectedRadio', radio.value);
        }

        window.addEventListener('load', function() {
          var selectedRadio = localStorage.getItem('selectedRadio');

          if (selectedRadio) {
            var radioElement = document.querySelector('input[name="page"][value="' + selectedRadio + '"]');
            if (radioElement) {
              radioElement.checked = true;
              handleRadioClick(radioElement);
            }
          }
        });

    </script>


  </body>
</html>