{% load static %}

<link rel="icon" href="{% static 'assets/images/logo/fav-labcor.svg' %}" type="image/x-icon">
<link rel="shortcut icon" href="{% static 'assets/images/logo/fav-labcor.svg' %}" type="image/x-icon">

<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/icofont.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/themify.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/flag-icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/feather-icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
<link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">

<style>
  .page-body{
      
      background-image: url("{% static 'assets/images/login/world-map.png' %}");
      position: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
  .customizer-links{
    display: none;
  }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />