{% load static %}

<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
      <div class="logo-wrapper">
        <a href="/api-search">
          <!--
          <img class="img-fluid for-light" src="{% static 'assets/images/logo/labcor.svg' %}" alt="">
          <img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt="">
        -->
          <small>Pesquisa Integrada<br> 
            em Fontes Abertas</small>
        </a>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
      </div>
      <div class="logo-icon-wrapper"><a href="/api-search">
        <!--
        <img width="50" height="50" class="img-fluid" src="{% static 'assets/images/logo/fav-labcor.svg' %}" alt="">
        -->
        <smmall>Pesquisa Integrada<br> 
          em Fontes Abertas</small>
      </a>
      </div>
      <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
          <ul class="sidebar-links" id="simple-bar">
            <li class="back-btn"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/fav-labcor.svg' %}" alt=""></a>
              <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
            </li>
            
            <!--
            <li class="sidebar-main-title">
              <div>
                <h6 class="lan-1">Buscar</h6>
              </div>
            </li>
            -->


            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="/busca-avancada">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
              </svg><span>Busca Avançada</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a>
            </li>
            
            <!--

            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="/google">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
              </svg><span>Google</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a>
            </li>

            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="/instagram">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
              </svg><span>Instagram</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a>
            </li>

            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="/facebook">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
              </svg><span>Facebook</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a>
            </li>

            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="/youtube">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
              </svg><span>Youtube</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a>
            </li>

            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="/linkedin">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
              </svg><span>Linkedin</span><div class="according-menu"><i class="fa fa-angle-right"></i></div></a>
            </li>
          -->
            
            
           
            
            
            
           



            
            
            
           
           

           
           
           
          
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
      </nav>
    </div>
  </div>
