<div class="text-center">
    <ul class="nav nav-tabs search-list" id="top-tab" role="tablist">

      
      <li class="nav-item">
        
        <a class="nav-link" id="google" href="{% url 'google' %}" role="tab" aria-selected="true">
          <label for="idGoogle">
          <input onchange="this.form.submit();" type="radio" name="option_search" id="idGoogle" value="" style="display: none">
          <i style="font-size: 34px; cursor: pointer;" class="fa-brands fa-google"></i>
          <label>
        </a>
        
      </li>
      
      
      
      <li class="nav-item">
        
        <a class="nav-link" id="instagram" href="{% url 'google' %}" role="tab" aria-selected="false">
          <label for="idInstagram">
          <input onchange="this.form.submit();" type="radio" name="option_search" id="idInstagram" value="Instagram" style="display: none">
          <i style="font-size: 34px; cursor: pointer;"class="fa-brands fa-instagram"></i>
          <label>
        </a>
        
      </li>
      
      
      <li class="nav-item">
        
        <a class="nav-link" id="youtube" href="{% url 'google' %}" role="tab" aria-selected="false">
          <label for="idYoutube">
          <input onchange="this.form.submit();" type="radio" name="option_search" id="idYoutube" value="Youtube" style="display: none">
          <i style="font-size: 34px; cursor: pointer;" class="fa-brands fa-youtube"></i>
          <label>
        </a>
        
      </li>
      
      
      <li class="nav-item">
        

        <a class="nav-link" id="facebook"  href="{% url 'google' %}" role="tab" aria-selected="false">
          <label for="idFacebook">
          <input onchange="this.form.submit();" type="radio" name="option_search" id="idFacebook" value="Facebook" style="display: none">
          <i style="font-size: 34px; cursor: pointer;" class="fa-brands fa-facebook"></i>
          <label>
        </a>
        
        
      </li>
      
 
      
      <li class="nav-item">
        
        <a class="nav-link" id="linkedin"  href="{% url 'google' %}" role="tab" aria-selected="false">
          <label for="idLinkedin">
          <input onchange="this.form.submit();" type="radio" name="option_search" id="idLinkedin" value="Linkedin" style="display: none">
          <i style="font-size: 34px; cursor: pointer;" class="fa-brands fa-linkedin"></i>
          <label>
        </a>
       
      </li>

      
      <li class="nav-item">
        
        <a class="nav-link" id="twitter"  href="{% url 'google' %}" role="tab" aria-selected="false">
          <label for="idTwitter">
          <input onchange="this.form.submit();" type="radio" name="option_search" id="idTwitter" value="Twitter" style="display: none">
          <i style="font-size: 34px; cursor: pointer;" class="fa-brands fa-twitter"></i>
          <label>
        </a>
        
      </li>

    
    
    
    </ul>
</div>



